## Project Specific
google-services.json


## Java

*.class
*.war
*.ear
*.index
hs_err_pid*
java.hprof*
java_Leak_Suspects.zip
java_System_Overview.zip
java_Top_Consumers.zip
java.threads


## GWT
war/
html/war/gwt_bree/
html/gwt-unitCache/
.apt_generated/
html/war/WEB-INF/deploy/
html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
android/libs/
android/gen/
.idea/
*.ipr
*.iws
*.iml
*.apk
out/
com_crashlytics_export_strings.xml
keystore.properties
files/keys/
android/src/com/lastdefenders/config

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

.gradle
gradle-app.setting
build/

## OS Specific
.DS_Store
